@import url("https://fonts.googleapis.com/css2?family=Commissioner&display=swap");
.search-results-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // background-color: #53535360;
  background: linear-gradient(transparent 100px, #2b2a2a 300px),
    url(../../images/newstars2.png) center top/auto 450px repeat-x;
  // padding: 0px 135.5px;
  .results-header {
    display: flex;
    justify-content: center;
    // background-color: green;
    margin-top: 50px;
    text-align: center;
    h1 {
      color: #e6e6e6;
      font-size: 35px;
      font-weight: bold;
      // font-family: Uni Sans;
      font-family: "Commissioner", sans-serif;
    }
  }
  .search-results-container {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    flex-wrap: wrap;
    height: 100%;
    .search-result {
      display: flex;
      flex-direction: column;
      min-width: 400px;
      max-width: 400px;
      height: fit-content;
      border-radius: 4px;
      margin: 20px;

      .result-users-header {
        display: flex;
        justify-content: flex-end;

        width: 100%;
        .left {
          width: 50%;
        }
        .right {
          display: flex;
          justify-content: flex-end;
          width: 50%;
          // background-color: green;
          background-color: rgba(25, 25, 27, 0.678);
          box-shadow: rgba(0, 0, 0, 0.145) 0 0 6px;
          padding: 4px;
          .members-container {
            display: flex;
            width: 80px;
            height: 20px;
            background-color: #7288da;
            border-radius: 3px;
            .members {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20%;
              background-color: #4a598d;
              color: white;
              height: 100%;
            }
            .online {
              // background-color: #7288da;
              width: 80%;
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 13px;
            }
          }
        }
      }
      .search-result-header {
        display: flex;
        background-color: rgb(25, 25, 27);
        width: 100%;
        height: 55px;
        text-align: center;
        .result-header-left {
          display: flex;
          width: 15%;
          align-items: center;
          img {
            height: 100%;
            width: 100%;
            // background-color: transparent;
          }
          .null-header-pic {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 24px;
            height: 100%;
            width: 100%;
            background-color: grey;
          }
        }
        .result-header-right {
          display: flex;
          align-items: center;
          width: 85%;
          background-color: rgba(128, 128, 128, 0.082);

          span {
            color: white;
            font-size: 25px;
            margin-left: 15px;
          }
        }
      }
      .board-description-container {
        display: flex;
        height: 100%;
        color: white;
        padding: 5px 20px;
        flex-direction: column;
        background-color: #22242960;

        .label-container {
          display: flex;
          width: 100%;
          //   background-color: red;
          margin-top: 2px;
          span {
            background-color: #1c8c8c;
            color: #e6e6e6;
            height: 1em;
            line-height: 1em;
            padding: 5px;
            border-radius: 3px;
            cursor: default;
          }
        }
        .board-description {
          display: flex;
          justify-content: center;
          color: white;
          font-size: 17px;
          line-height: 1.4rem;
        }
      }
    }
    .request-board-container {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: #22242960;

      button {
        width: 90%;
        max-width: 18.75rem;
        height: 2.5rem;
        font-size: 1.2em;
        opacity: 0.8;
        background: rgba(10, 10, 10, 0.4);
        color: #fff;
        border: none;
        border-radius: 55px;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        outline: none;
      }
      button:hover {
        background-color: #7289da;
      }
    }
  }
}

@media (max-width: 1315px) {
  .search-results-container {
    .search-result {
      // background-color: Red;
      width: 30%;
    }
  }
}
@media (max-width: 450px) {
  .search-results-main {
    .results-header {
      // background-color: rgb(110, 134, 53);
      // width: 30%;
      h1 {
        font-size: 24px;
      }
    }
  }
}
