.current-board-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #393b3d;
  width: 100%;
  // height: calc(100vh - 48px);
  height: 100vh;
  // overflow: hidden;
  // background-color: rgb(235, 90, 70);

  .edit-task-modal {
    width: 700px;
    min-height: 300px;
    height: fit-content;
    left: 50%;
    top: 20%;
    padding: 10px 20px;
    position: absolute;
    border: none;
    background-color: rgb(248, 248, 248);
    transform: translate(-50%) !important;
    .task-edit-header {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      font-size: 25px;
      margin-bottom: 10px;

      .task-modal-close {
        margin-right: 5px;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .task-modal-content-container {
      display: flex;
      flex-direction: row;
      .current-task-members {
        display: flex;
        width: 100%;
        // background-color: green;
        img {
          width: 30px;
          height: 30px;
          margin-left: 30px;
          border-radius: 5px;
        }
      }
      .task-modal-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // background-color: purple;
        // padding-left: 20px;
        width: 80%;
        .due-date-container {
          display: flex;
          background-color: rgb(93, 184, 93);
          color: white;
          margin-left: 30px;
          padding: 5px 5px;
          border-radius: 5px;
          font-size: 12px;
        }
        .med-label {
          width: 100px;
          height: 6px;
          background-color: rgb(235, 235, 44);
          border: 1px solid rgb(235, 235, 44);
          border-radius: 20px;
          margin-left: 18px;
          margin-bottom: 2px;
        }
        .low-label {
          width: 100px;
          height: 6px;
          background-color: rgb(47, 143, 44);
          border: 1px solid rgb(47, 143, 44);
          border-radius: 20px;
          margin-left: 18px;
          margin-bottom: 2px;
        }
        .high-label {
          width: 100px;
          height: 6px;
          background-color: rgb(228, 59, 59);
          border: 1px solid rgb(228, 59, 59);
          border-radius: 20px;
          margin-left: 18px;
          margin-bottom: 2px;
        }
        .current-task-workers-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 45px;
          span {
          }
        }
        .task-modal-task-name {
          display: flex;
          align-items: center;
          width: 100%;
          // background-color: green;

          .modal-task-name {
            display: flex;
            padding: 0px;
            font-size: 22px;
            color: #4d4d4d;
            font-family: jaf-facitweb, Helvetica Neue, Arial, sans-serif;
            margin: 0px;
          }
          .modal-task-edit-name {
            color: grey;
            text-decoration: underline;
            cursor: pointer;
            margin-top: 2px;
            margin-left: 2px;
          }
        }
        form {
          margin-top: 5px;
          display: flex;
          // background-color: yellow;
          flex-direction: column;
          width: 40%;
          textarea {
            outline: none;
            min-height: 50px;
            margin-bottom: 5px;
            border-radius: 5px;
            font-size: 16px;
          }
          button {
            background-color: green;
            border: 1px solid green;
            // border-radius: 3px;
            color: white;
            margin-left: 3px;
            cursor: pointer;
            width: 30%;
            outline: none;
          }
          .modal-edit-name-close {
            background-color: grey;
            border: 1px solid grey;
            outline: none;
          }
        }
        .modal-comment-container {
          display: flex;
          flex-direction: column;
          // background-color: yellow;
          width: 100%;
          // align-items: center;
          margin-top: 30px;
          .comment-header {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            span {
              font-size: 22px;
              font-weight: 600;
            }
          }
          .comment-input-main {
            display: flex;
            flex-direction: row;
            .comment-auth-pic-container {
              display: flex;
              width: 10%;
              // background-color: yellow;
              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }
            }
            .comment-input-container {
              display: flex;
              flex-direction: column;
              width: 90%;
              input {
                text-align: start;
                padding-top: 5px;
                padding-bottom: 30px;
                width: 90%;
                // height: 60px;
                box-shadow: 0 0 3px rgb(168, 168, 168);
                outline: none;
                border: none;
              }
              button {
                margin-top: 10px;
                padding: 8px 10px;
                width: 90px;
                background-color: green;
                border: 1px solid green;
                color: white;
                font-weight: 600;
                border-radius: 3px;
                outline: none;
                cursor: pointer;
              }
              button:hover {
                background-color: rgb(5, 110, 5);
                border: 1px solid rgb(5, 110, 5);
              }
            }
          }
        }
      }
      .task-modal-right {
        display: flex;
        flex-direction: column;
        // background-color: red;
        width: 20%;
        .members-popup {
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 110px;
          width: 250px;
          // height: 70px;
          padding: 0px 5px;
          background-color: white;
          box-shadow: 0 0 3px rgb(168, 168, 168);
          border-radius: 3px;

          .members-popup-header {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px 0px;
            border-bottom: 1px solid rgb(224, 222, 222);
            .members-exit {
              position: relative;
              left: 65px;
              font-size: 20px;
              bottom: 2px;
              color: grey;
              cursor: pointer;
            }
            span {
              font-size: 20px;
              margin-left: 5px;
              color: grey;
            }
          }
          .members-popup-list {
            display: flex;
            flex-direction: column;
            padding: 5px 5px;
            .members-popup-users {
              display: flex;
              align-items: center;
              margin-bottom: 10px;
              padding: 3px 3px;
              color: black;
              border-radius: 5px;
              // background-color: rgb(73, 151, 216);
              cursor: pointer;
              img {
                width: 30px;
                height: 30px;
                margin-right: 10px;
                border-radius: 3px;
              }
              span {
                font-size: 20px;
              }
            }
            .members-popup-users:hover {
              background-color: rgb(73, 151, 216);
              color: white;
            }
          }
        }
        .due-date-input {
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          width: 100%;
          // height: 70px;
          // background-color: red;
          input {
            // background-color: green;
            width: 95%;
            outline: none;
          }
          button {
            justify-content: center;
            width: 60px;
            padding: 0px;
            margin-top: 5px;
            background-color: green;
            border: 1px solid green;
            color: white;
          }
          button:hover {
            background-color: rgb(11, 100, 11);
            border: 1px solid rgb(11, 100, 11);
          }
        }
        .prio-buttons-container {
          display: flex;
          flex-direction: column;
          // background-color: green;
          .low-prio-button {
            display: flex;
            justify-content: center;
            background-color: rgb(10, 114, 10);
            border: 1px solid rgb(10, 114, 10);
            font-size: 11px;
            width: 70%;
            padding: 5px 0px;
            color: white;
            text-align: center;
          }
          .low-prio-button:hover {
            background-color: rgb(13, 102, 13);
            border: 1px solid rgb(13, 102, 13);
          }

          .med-prio-button {
            display: flex;
            background-color: rgb(218, 218, 69);
            border: 1px solid rgb(218, 218, 69);
            font-size: 11px;
            width: 70%;
            padding: 5px 0px;
            color: white;
            justify-content: center;
            font-weight: bold;
          }
          .med-prio-button:hover {
            background-color: rgb(197, 197, 62);
            border: 1px solid rgb(197, 197, 62);
          }
          .high-prio-button {
            display: flex;
            justify-content: center;
            background-color: rgb(173, 58, 58);
            border: 1px solid rgb(173, 58, 58);
            font-weight: bold;
            font-size: 11px;
            width: 70%;
            padding: 5px 0px;
            color: white;
            text-align: center;
          }
          .high-prio-button:hover {
            background-color: rgb(155, 52, 52);
            border: 1px solid rgb(155, 52, 52);
          }
        }
        span {
          font-size: 25px;
          margin-bottom: 5px;
        }
        button {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 10px 0px;
          outline: none;
          border: none;
          font-weight: bold;
          background-color: rgb(230, 230, 230);
          border-radius: 3px;
          margin-bottom: 10px;
          box-shadow: rgba(0, 0, 0, 0.411) 0 0 2px;
        }
        button:hover {
          background-color: rgb(204, 204, 204);
        }
      }
    }
  }
  .edit-modal {
    width: 250px;
    // height: 120px;
    left: 50%;
    top: 20%;
    padding: 10px 10px;
    position: absolute;
    border: none;
    background-color: white;
    transform: translate(-50%) !important;
    .delete-status-container {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      button {
        background-color: grey;
        border: 1px solid grey;
        cursor: pointer;
        border-radius: 3px;
        color: white;
        outline: none;
      }
    }
    .edit-modal-header {
      color: rgb(124, 124, 124);
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(180, 180, 180);
      .modal-close-button {
        position: relative;
        left: 70px;
        cursor: pointer;
      }
    }
    form {
      label {
        font-size: 18px;
        font-weight: 600;
        color: rgb(54, 54, 54);
      }
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      input {
        height: 25px;
        font-size: 14px;
      }
      button {
        width: 80px;
        padding: 3px 0px;
        background-color: green;
        border: 1px solid green;
        border-radius: 5px;
        color: white;
        margin-top: 5px;
        cursor: pointer;
        outline: none;
      }
    }
  }
  .menu-drawer {
    display: flex;
    flex-direction: column;
    min-width: 15%;
    width: fit-content;
    padding: 5px 5px;
    background-color: rgb(241, 241, 241);
    .menu-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 10px;
      .menu-description-header {
        font-size: 18px;
        display: flex;
        width: 100%;
        // background-color: green;
        .description-icon {
          color: rgb(77, 77, 77);
          margin-right: 8px;
          margin-left: 5px;
        }
      }
      .description-edit-container {
        width: 100%;
        // background-color: green;
        .description-edit-button {
          margin-left: 30px;
          color: rgb(124, 124, 124);
          text-decoration: underline;
          cursor: pointer;
        }
      }
      p {
        font-size: 18px;
      }
    }
    .menu-actions-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 10px;
      margin-top: 5px;
      .background-popup {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgb(255, 255, 255);
        width: 230px;
        min-height: 100px;
        margin-top: 25px;
        padding: 10px;
        margin-right: 5px;
        border-radius: 3px;
        box-shadow: 0 0 5px rgb(190, 190, 190);
        cursor: grab;
        .background-popup-header {
          display: flex;
          justify-content: center;
          // padding: 5px;
          padding-bottom: 8px;
          border-bottom: 1px solid rgb(212, 212, 212);
          span {
            color: rgb(110, 110, 110);
            font-size: 15px;
          }
        }
        .background-popup-colors-container {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          cursor: pointer;
          .color-palette {
            width: 50px;
            height: 35px;
            border-radius: 3px;
            margin: 5px;
          }
        }
      }
      .bg-container {
        display: flex;
        flex-direction: row;
        span {
          font-size: 18px;
        }
        .bg-color {
          width: 20px;
          height: 20px;
          border: 1px solid black;

          margin-right: 8px;
          cursor: pointer;
          border-radius: 2px;
        }
      }
    }
    .menu-drawer-header {
      display: flex;
      font-size: 20px;
      height: 30px;
      width: 100%;
      justify-content: center;
      padding: 15px 5px;
      border-bottom: 1px solid rgb(207, 207, 207);
    }
    .menu-members-list {
      display: flex;
      flex-direction: column;
      padding: 10px 5px;
      border-bottom: 1px solid rgb(207, 207, 207);
      .menu-owner-container {
        display: flex;
        // background-color: red;
        flex-direction: column;
        margin-bottom: 10px;
      }
      .menu-members-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-top: 5px;
      }
      span {
        font-size: 18px;
        color: rgb(110, 110, 110);
      }
    }
  }
  .board-header {
    display: flex;
    height: 50px;
    width: 100%;
    // padding: 10px 10px;
    background-color: #393b3d;
    color: white;
    font-family: jaf-facitweb, Helvetica Neue, Arial, sans-serif;
    border-bottom: 1px solid rgb(49, 49, 49);
    margin-bottom: 10px;
    .create-status-window {
      display: flex;
      border-radius: 5px;
      padding: 10px;
      flex-direction: column;
      background-color: #1d1e1f;
      width: 200px;
      // height: 50px;
      position: absolute;
      top: 10%;
      left: 10%;
      .create-status-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        // padding: 10px;
        border-bottom: 1px solid rgba(105, 105, 105, 0.404);
        // background-color: red;
        cursor: grab;
        .status-close {
          position: relative;
          font-size: 20px;
          left: 40px;
          bottom: 3px;
          cursor: pointer;
        }
      }
      .create-status-input-container {
        padding: 5px;
        // background-color: yellow;
        input {
          margin-bottom: 5px;
          margin-top: 5px;
          border: none;
        }
        input:focus {
          border: none;
          outline: 1px solid #7289da;
        }
        button {
          margin-top: 3px;
          background-color: #7289da;
          border: 1px solid #7289da;
          color: white;
          cursor: pointer;
          outline: none;
        }
      }
    }
    .board-header-left {
      .board-dropdown {
        display: flex;
        flex-direction: column;
        background-color: rgb(37, 37, 37);
        display: flex;
        width: 220px;
        // min-height: 200px;
        border-radius: 3px;
        height: fit-content;
        position: absolute;
        // z-index: 500;
        // top: 100%;
        top: 6%;
        left: 5.2%;
        // margin-top: 30%;
        margin-right: 20%;
        padding: 10px 5px;
        .dropdown-members-list {
          width: 100%;
          display: flex;
          align-items: center;
          // background-color: green;
          flex-direction: column;
          // border-bottom: 1px solid rgba(70, 70, 70, 0.329);
          padding-bottom: 10px;
          span {
            text-align: center;
            width: 100%;
            // border-bottom: 1px solid rgba(70, 70, 70, 0.329);
            padding-bottom: 8px;
            margin-bottom: 3px;
            color: #e6e6e6;
          }
          .dropdown-members-container {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            // background-color: green;
            padding: 5px;
            border-bottom: 1px solid rgba(70, 70, 70, 0.329);

            img {
              height: 30px;
              width: 30px;
            }
          }
        }
        .dropdown-delete-item {
          width: 100%;
          display: flex;
          // background-color: green;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          cursor: pointer;
          border-radius: 3px;
          padding-top: 5px;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(70, 70, 70, 0.329);
          color: rgb(189, 53, 53);
        }
        .dropdown-delete-item:hover {
          background-color: rgb(189, 53, 53);
          color: white;
        }

        .dropdown-item {
          width: 100%;
          display: flex;
          // background-color: green;
          justify-content: space-between;
          margin-bottom: 10px;
          cursor: pointer;
          border-radius: 3px;
          padding-top: 5px;
          padding-bottom: 10px;
          border-bottom: 1px solid rgba(70, 70, 70, 0.329);
          color: #e6e6e6;

          span {
            font-size: 16px;
          }
        }
        .dropdown-item:hover {
          background-color: #7289da;
        }
      }
      display: flex;
      align-items: center;
      // background-color: green;
      width: 50%;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0px 10px;
      }
      .board-name-container {
        display: flex;
        height: 100%;
        position: relative;
        // background-color: yellow;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        cursor: pointer;
        .board-name {
          font-size: 25px;
          color: white;
          margin-left: 10px;
        }
        .header-arrow {
          display: flex;
          align-items: center;
          font-size: 23px;
          margin-left: 5px;
          // background-color: green;
          color: rgba(255, 255, 255, 0.801);
        }
      }
      .board-name-container:hover {
        background-color: rgb(77, 77, 77);
      }
    }

    .board-header-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // background-color: green;
      width: 50%;
      .bell-modal {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: #2a2b2c;
        width: 350px;
        // height: 200px;
        right: 150px;
        top: 50px;
        z-index: 100;
        .bell-modal-header {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
          padding: 10px;
          font-size: 18px;
          border-bottom: 1px solid rgba(117, 117, 117, 0.301);
        }
        .notifications-container {
          display: flex;
          flex-direction: column;
          // background-color: rgb(143, 143, 91);
          padding-bottom: 5px;
          .notification-request {
            display: flex;
            flex-direction: column;
            // background-color: green;
            padding: 5px;
            margin-bottom: 6px;
            .notification-content {
              display: flex;
              flex-direction: row;
              // background-color: purple;
              .notification-left {
                display: flex;
                width: 30%;
                justify-content: center;
                img {
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  margin-right: 8px;
                }
              }
              .notification-right {
                display: flex;
                flex-direction: column;
                width: 70%;
                .username {
                  font-size: 18px;
                  margin-bottom: 3px;
                }
                .email {
                  color: grey;
                  font-size: 15px;
                }
              }
            }
            .notification-button-container {
              display: flex;
              justify-content: center;
              padding: 5px;
              .accept-button {
                margin-right: 8px;
                background-color: #7289da;
                border: 1px solid #7289da;
                color: white;
                font-weight: bold;
                cursor: pointer;
                outline: none;
              }
              .decline-button {
                cursor: pointer;
                font-weight: bold;
                outline: none;
              }
              .accept-button:hover {
                background-color: #6175be;
                border: 1px solid #6175be;
              }
            }
          }
        }
      }
      .settings-popup {
        position: absolute;
        width: 200px;
        height: 200px;
        right: 200px;
        top: 50px;
        padding: 10px;
        background-color: rgb(248, 248, 248);
        box-shadow: 0 0 5px rgb(54, 54, 54);
        cursor: grab;
        border-radius: 5px;
        // border: 1px solid rgba(0, 0, 0, 0.521);
        .settings-popup-header {
          display: flex;
          padding-bottom: 10px;
          font-family: jaf-facitweb, Helvetica Neue, Arial, sans-serif;
          color: black;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid rgb(216, 216, 216);
        }
        .settings-popup-checkbox-container {
          display: flex;
          flex-direction: column;
          // background-color: green;
          cursor: default;
          margin-top: 15px;
          .settings-popup-check-containers {
            display: flex;
            flex-direction: column;
            // background: red;
            margin-bottom: 0px 5px;
            padding: 5px;
            color: black;
            label {
              margin-left: 4.5px;
            }
            input {
              width: 20px;
              height: 20px;
              cursor: pointer;
            }
          }
        }
      }
      .bell-icon {
        margin-right: 18px;
        margin-top: 4px;
        cursor: pointer;
      }
      .bell-icon:hover {
        color: rgb(182, 182, 182);
      }
      .menu-span {
        margin-right: 5px;
        text-decoration: underline;
        cursor: pointer;
        color: white;
      }
      .settings-icon {
        display: flex;
        align-items: center;
        color: white;
        font-size: 17px;
        margin-right: 15px;
        cursor: pointer;
      }
      .settings-icon:hover {
        text-decoration: underline;
      }
    }
  }
  .board-bottom {
    display: flex;
    flex-direction: row;
    // background-color: #88bbe485;
    height: 100%;
    .edit-popup {
      display: flex;
      flex-direction: column;
      z-index: 500;
      position: relative;
      margin-bottom: 5px;
      width: 150px;
      background-color: transparent;
      color: white;
      span {
        display: flex;
        border-radius: 5px;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.596);
        border: 1px solid rgba(0, 0, 0, 0.596);
        margin-bottom: 5px;
        padding: 5px;
        .edit-icons {
          margin-right: 5px;
          cursor: pointer;
        }
      }
      span:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.486);
        border: 1px solid rgba(0, 0, 0, 0.486);
      }
    }
    .board-main-left {
      display: flex;
      padding: 10px 10px;
      justify-content: center;
      // background-color: green;
      width: 15%;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        // padding: 20px 10px;
        cursor: pointer;
        background-color: rgb(238, 238, 238);
        border: none;
        border-radius: 5px;
        color: #4d4d4d;
        font-family: jaf-facitweb, Helvetica Neue, Arial, sans-serif;
        font-size: 15px;
        font-weight: 600;
        outline: none;
        .plus {
          position: relative;
          right: 3px;
          font-size: 16px;
          font-weight: 600;
        }
      }
      button:focus {
        transform: scale(0.96);
      }
      .create-input-container {
        display: flex;
        flex-direction: column;
        background-color: rgb(241, 241, 241);
        height: 100px;
        padding: 2px 15px;
        // font-size: 20px;
        //   background-color: green;
        border-radius: 5px;
        .create-buttons-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;
          .exit {
            font-size: 25px;
            margin-left: 10px;
            color: rgb(112, 112, 112);
          }
        }
        .create-button {
          background-color: green;
          padding: 5px 5px;
          font-size: 12px;
          color: white;
        }
      }
      input {
        background-color: rgb(252, 252, 252);
        border: none;
        padding: 5px 5px;
        margin: 8px 0px;
        box-shadow: 0 0 3px rgb(168, 168, 168);
        outline: none;
      }
    }
    .board-main-right::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    .board-main-right::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);

      border-radius: 10px;
    }

    .board-main-right::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 10px 70px 6px rgba(46, 46, 46, 0.521);
    }

    .board-main-right {
      display: flex;
      width: 100%;
      // background-color: rgb(108, 155, 108);
      padding: 10px 20px;
      // flex-wrap: wrap;
      overflow-x: auto;
      padding-right: 10px;
      .status-container {
        display: flex;
        cursor: grab;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100px;
        height: fit-content;
        min-width: 280px;
        padding: 5px 8px;
        background-color: rgb(238, 238, 238);
        // background-color: red;
        margin-right: 10px;
        border-radius: 3px;
        .status-edit-popup {
          display: flex;
          flex-direction: column;
          z-index: 500;
          position: relative;
          margin-bottom: 5px;
          width: 150px;
          height: 100px;
          background-color: transparent;
          color: white;

          span {
            display: flex;
            border-radius: 5px;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.596);
            border: 1px solid rgba(0, 0, 0, 0.596);
            margin-bottom: 5px;
            padding: 5px;
            .edit-icons {
              margin-right: 5px;
            }
          }
          span:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.486);
            border: 1px solid rgba(0, 0, 0, 0.486);
          }
        }
        .tasks-container {
          display: flex;
          flex-direction: column;
          // background-color: rgb(185, 111, 111);
          // padding: 0px 10px;
          height: fit-content;
          // width: 100%;
          width: 100%;
          max-width: 280px;
          // padding: 5px;
          margin-bottom: 3px;
          .save-name-container {
            display: flex;
            // background-color: red;
            margin-bottom: 3px;
            button {
              background-color: green;
              border: 1px solid green;
              font-size: 18px;
              color: white;
              padding: 0px 10px;
              border-radius: 5px;
              cursor: pointer;
            }
            button:hover {
              background-color: rgb(4, 114, 4);
              border: 1px solid rgb(4, 114, 4);
            }
          }
          .edit-name-input {
            display: flex;
            min-height: 60px;
            margin-bottom: 8px;
            height: fit-content;
            width: 100%;
            border-radius: 5px;
            background-color: white;
            input {
              width: 100%;
              display: flex;
              height: 20px;
              text-align: start;
              // height: 100%;
              border: none;
              padding: 3px;
              outline: none;
              font-size: 18px;
            }
          }
          .current {
            background-color: purple;
          }

          .dragging-task {
            display: flex;
            min-height: 60px;
            margin-bottom: 8px;
            height: fit-content;
            width: 100%;
            background-color: rgb(177, 177, 177);
            border-radius: 5px;
            cursor: move;
            span {
              display: none;
            }
            .task-edit-pen {
              display: none;
            }
            .task-drag-icon {
              display: none;
            }
            .task-members-list-container {
              display: none;
              .task-members {
                display: none;
                img {
                  display: none;
                }
              }
            }
          }
          .replace {
            width: 200px;
            height: 200px;
            background-color: yellow;
          }
          .task {
            display: flex;
            flex-direction: column;
            min-height: 50px;
            margin-bottom: 8px;
            height: fit-content;
            // width: 100%;
            background-color: white;
            border-radius: 5px;
            padding: 8px;
            cursor: pointer;
            .task-members-list-container {
              display: flex;
              // background-color: red;
              justify-content: flex-end;
              img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
              }
            }
            .task-due-date {
              span {
                // background-color: rgb(88, 161, 88);
                padding: 2px 3px;
                border-radius: 3px;
                font-size: 13px;
                color: grey;
              }
            }
            .task-name-container {
              display: flex;
              justify-content: space-between;
              // padding: 0px 3px;
              margin-top: 1px;
            }
            .task-low-label {
              width: 50px;
              height: 6px;
              border-radius: 50px;
              background-color: green;
            }
            .task-med-label {
              width: 50px;
              height: 6px;
              border-radius: 50px;
              background-color: rgb(247, 247, 35);
            }
            .task-high-label {
              width: 50px;
              height: 6px;
              border-radius: 50px;
              background-color: rgb(209, 49, 49);
            }
            .task-drag-icon {
              position: relative;
              right: 5px;
              color: rgb(116, 116, 116);
            }
            .task-edit-pen {
              position: relative;
              right: 8px;
              color: rgb(114, 114, 114);
            }
            .task-edit-pen:hover {
              border-radius: 50%;
              background-color: rgb(196, 196, 196);
            }
            span {
              font-size: 20px;
              width: 100%;
              // background-color: red;
            }
          }
          .task:hover {
            background-color: rgb(219, 219, 219);
          }
        }

        .status-header {
          display: flex;
          font-weight: 600;
          justify-content: space-between;
          font-size: 18px;
          padding: 5px 8px;
          margin-bottom: 3px;
          // background-color: red;
          color: #4d4d4d;
          font-family: jaf-facitweb, Helvetica Neue, Arial, sans-serif;
          form {
            display: flex;
            justify-content: space-between;
            width: 100%;
            // background-color: Red;
            input {
              outline: none;
              background-color: transparent;
              border: none;
              font-size: 16px;
              border-bottom: 1px solid grey;
              // background-color: green;
            }
            .status-edit-button {
              background-color: green;
              border: 1px solid green;
              border-radius: 5px;
              color: white;
              cursor: pointer;
              margin-right: 2px;
            }
            .status-close-button {
              background-color: rgba(0, 0, 0, 0.596);
              border: 1px solid rgba(0, 0, 0, 0.596);
              color: white;
              border-radius: 5px;
              cursor: pointer;
            }
          }
          .status-name {
          }
          .status-dots {
            cursor: pointer;
          }
        }
        .status-footer {
          display: flex;
          align-items: center;
          width: 100%;
          // padding: 5px;
          color: grey;
          span:hover {
            text-decoration: underline;
          }
          .new-task-window {
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin-top: 5px;
            width: 100%;
            height: 100px;
            padding: 0px 2px;
            .new-task-form {
              display: flex;
              align-items: center;
              flex-direction: column;
              height: 100%;
              width: 100%;

              textarea {
                width: 100%;
                resize: none;
                padding: 1px 3px;
                border-radius: 3px;
                height: 100%;
                border: none;
                box-shadow: 0 0 3px rgb(168, 168, 168);
                outline: none;
              }
            }
            .new-task-button-container {
              display: flex;
              // justify-content: center;
              width: 100%;
              margin-top: 10px;
              // justify-content: center
              // background-color: Red;

              .add-button {
                background-color: green;
                border: none;
                padding: 5px 5px;
                width: 50px;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                outline: none;
                // margin-left: 20px;
              }
              .close-task-popup {
                font-size: 20px;
                margin-left: 5px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
  .board-settings-modal {
    display: flex;
    flex-direction: column;
    background-color: #393b3d;
    width: 900px;
    height: 650px;
    top: 45%;
    border-radius: 1px;
    border: none;
    padding: 0px;

    .board-settings-modal-bar {
      display: flex;
      width: 100%;
      height: 10px;
      background-color: #7289da;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    .board-settings-modal-header {
      display: flex;
      padding: 30px 30px;
      // background-color: green;
      justify-content: space-between;
      color: white;
      font-size: 25px;
    }
    .board-settings-modal-wrapper {
      display: flex;
      flex-direction: row;
      // background-color: purple;
      height: 100%;
      .board-settings-sidebar {
        display: flex;
        background-color: #23272a;
        flex-direction: column;
        width: 20%;
        height: 100%;
        padding: 0px 5px;
        .board-sidebar-item-remove {
          display: flex;
          width: 100%;
          // background-color: rgb(122, 81, 81);
          margin-bottom: 15px;
          color: rgb(189, 53, 53);
          font-size: 20px;
          padding: 10px 0px;
          margin-top: 10px;
          cursor: pointer;
          border-radius: 3px;
          span {
            margin-left: 10px;
          }
        }
        .board-sidebar-item {
          display: flex;
          width: 100%;
          // background-color: rgb(122, 81, 81);
          margin-bottom: 15px;
          color: white;
          font-size: 20px;
          padding: 10px 0px;
          margin-top: 10px;
          cursor: pointer;
          border-radius: 3px;
          span {
            margin-left: 10px;
          }
        }
        .board-sidebar-item:hover {
          background-color: #7289da;
        }
        .board-sidebar-item-remove:hover {
          background-color: rgb(189, 53, 53);
          color: white;
        }
      }
      .board-settings-content {
        display: flex;
        // background-color: rgb(148, 148, 81);
        width: 85%;
        flex-direction: column;
        .submit-form {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          // background-color: orange;
          margin-top: 10px;
          // padding: 0px 20px;
          button {
            font-size: 18px;
            color: white;
            background-color: #7289da;
            outline: none;
            border: none;
            padding: 5px 15px;
            border-radius: 2px;
            margin-right: 30px;
            margin-top: 5px;
            cursor: pointer;
          }
          button:hover {
            background-color: #6377c2;
          }
        }
        .delete-board-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          // background-color: orange;
          .delete-button-container {
            display: flex;
            // background-color: yellow;
            height: 480px;
            width: 100%;
            justify-content: flex-end;
            align-items: flex-end;
            button {
              font-size: 20px;
              height: 30px;
              cursor: pointer;
              margin-right: 10px;
              margin-bottom: 5px;
              background-color: rgb(189, 53, 53);
              color: white;
              border: 1px solid rgb(189, 53, 53);
              border-radius: 5px;
            }
            button:hover {
              background-color: rgb(173, 45, 45);
              border: 1px solid rgb(173, 45, 45);
            }
          }
          .delete-content-container {
            display: flex;
            justify-content: center;
            // height: 60%;
            width: 100%;
            // background-color: green;
            // flex-direction: column;
            span {
              font-size: 25px;
              margin-top: 20px;
              color: white;
            }
          }
        }
        .board-members-tab-container {
          display: flex;
          // justify-content: center;
          flex-direction: column;
          width: 100%;
          height: 100%;

          // background-color: green;
          .board-members-container {
            display: flex;
            align-items: center;
            // flex-direction: column;
            margin-bottom: 5px;
            width: 90%;
            // background-color: red;
            height: 70px;
            border-top: 1px solid rgba(170, 170, 170, 0.315);
            border-bottom: 1px solid rgba(170, 170, 170, 0.315);
            cursor: pointer;
            padding: 0px 5px;
            .member-clicked-popup {
              display: flex;
              flex-direction: column;
              background-color: rgb(32, 32, 32);
              width: 200px;
              // height: 100px;
              position: absolute;
              color: white;
              left: 90%;
              top: 20%;
              padding: 5px 5px;
              border-radius: 3px;
              .members-popup-item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px;
                height: 100%;
                width: 100%;
                border-radius: 3px;
              }
              .members-popup-item:hover {
                background-color: rgba(192, 192, 192, 0.219);
              }
              .members-popup-item-remove {
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid grey;
                padding: 10px 0px;
                color: rgb(189, 53, 53);
                border-radius: 3px;
              }
              .members-popup-item-remove:hover {
                background-color: rgb(189, 53, 53);
                width: 100%;
                color: white;
              }
            }
            .user-dots {
              position: relative;
              color: rgba(255, 255, 255, 0.459);
              left: 60%;
            }
            .user-dots:hover {
              color: white;
            }
            img {
              height: 40px;
              width: 40px;
              border-radius: 50%;
            }
            .users-contact {
              display: flex;
              flex-direction: column;
              margin-left: 5px;
              span {
                font-size: 17px;
                margin-left: 10px;
                color: white;
              }
              .user-email {
                font-size: 14px;
                color: rgba(170, 170, 170, 0.61);
              }
            }
          }
          .board-members-container:hover {
            background-color: rgba(43, 43, 43, 0.432);
            border: 1px solid rgba(27, 27, 27, 0.315);
            border-radius: 5px;
          }
        }
        .description-container {
          display: flex;
          // justify-content: center;
          flex-direction: column;
          align-items: center;
          width: 100%;
          // background-color: purple;
          margin-top: 40px;

          textarea {
            min-width: 60%;
            max-width: 60%;
            height: 300px;
            max-height: 300px;
            border: none;
            background-color: #23272a;
            color: white;
          }
          textarea:focus {
            outline: 1px solid #7289da;
            border: none;
          }
          label {
            color: #a1a1a1;
            font-size: 20px;
            margin-bottom: 3px;
          }
        }
        .board-settings-modal-edit-container {
          display: flex;
          width: 100%;
          // background-color: rgb(160, 97, 97);
          .edit-container-left {
            display: flex;
            width: 50%;
            // background-color: rgb(108, 153, 108);
            justify-content: center;
            align-items: center;
            .edit-input-container {
              display: flex;
              width: 45%;
              height: 100%;
              // margin-top: 40px;
              align-items: flex-end;
              flex-direction: column;
              // background-color: green;
              justify-content: flex-end;
              .board-settings-button-container {
                // background-color: red;
                position: relative;
                top: 5px;
                button {
                  background: transparent;
                  color: grey;
                  cursor: pointer;
                  border: none;
                  font-weight: 600;
                  font-size: 16px;
                  outline: none;
                }
                button:hover {
                  color: #7289da;
                }
              }
            }
            .edit-image-container {
              display: flex;
              width: 45%;
              // background-color: yellow;
              justify-content: flex-end;
              .placeholder-pic {
                height: 100px;
                width: 100px;
                border-radius: 50%;
              }
              .default-board-pic {
                display: flex;
                justify-content: center;
                background-color: rgb(175, 175, 175);
                font-size: 45px;
                padding: 22px 35px;
                border-radius: 50%;
                color: white;
              }
            }
            label {
              width: 105px;
              background-color: transparent;
              color: rgba(255, 255, 255, 0.897);
              border: 1px solid white;
              padding: 10px 13px;
              font-size: 15px;
              border-radius: 2px;
              cursor: pointer;
              font-weight: 600;
              font-family: Arial, Helvetica, sans-serif;
            }
          }
          .edit-container-right {
            display: flex;
            width: 50%;
            // background-color: rgb(141, 82, 82);
            // flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            .edit-container {
              display: flex;
              flex-direction: column;
              // align-items: center;
              justify-content: center;
              // background-color: green;
              width: 80%;
              label {
                color: rgb(161, 161, 161);
                font-size: 21px;
                margin-bottom: 5px;
              }
              input {
                width: 100%;
                height: 40px;
                font-size: 18px;
                background-color: #23272a;
                color: rgb(219, 219, 219);
                padding-left: 5px;
                border: 1px solid black;
              }
              input:focus {
                outline: 1px solid #7289da;
              }
            }
          }
        }
      }
    }
  }
}
