.sidebar {
  // height: 80%;
  width: 5%;
  padding: 5px;
  // background-color: orange;
  background-color: #272525;
  // height: 100vh;
  .boards-container {
    display: flex;
    width: 100%;
    height: 80%;
    align-items: center;
    flex-direction: column;
    .boards-home-button {
      display: flex;
      justify-content: center;
      background-color: #7289da;
      // background-color: #ff2e58;
      margin-bottom: 25px;
      font-size: 24px;
      padding: 15px 17px;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      margin-top: 0px;
    }
    .boards-home-button:hover {
      transform: scale(1.1);
    }
    .tooltip {
      height: 50px;
      margin-bottom: 15px;
      transition: all 0.2s ease-in-out;
      .default-board-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: rgb(175, 175, 175);
        // background-color: #ff024e;
        // background-color: #ff0263;

        margin-bottom: 15px;
        border-radius: 50%;
        cursor: pointer;
        .default-board-pic {
          // background-color: rgb(175, 175, 175);
          font-size: 23px;
          color: white;
          transition: all 0.2s ease-in-out;
        }
      }
      img {
        height: 52px;
        width: 55px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
    .tooltip:hover {
      transform: scale(1.1);
    }
  }
  .profile-pic-container {
    display: flex;
    flex-direction: column;
    // background-color: green;
    height: 20%;
    justify-content: flex-end;
    // justify-content: center;
    align-items: center;

    // flex: 1;
    .profile-pic {
      width: 45px;
      height: 45px;
      margin-bottom: 20px;
      cursor: pointer;
      border-radius: 50%;
    }
    .profile-pic:hover {
      opacity: 0.9;
    }
  }
  .new-board-button {
    display: flex;
    // margin-top: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(175, 175, 175);
    margin-bottom: 15px;
    cursor: pointer;
    span {
      font-size: 24px;
      color: white;
      position: relative;
      top: 2px;
    }
  }
  .new-board-button:hover {
    background-color: #7289da;
  }
}

.create-modal {
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 251, 251);
  width: 450px;
  height: 480px;
  top: 45%;
  padding: 0px 10px;
  .create-close-container {
    display: flex;
    height: 20px;
    // background-color: red;
    justify-content: flex-end;
    font-size: 24px;
    align-items: center;
    margin-top: 5px;
    color: grey;
    cursor: pointer;
    .create-close-icon:hover {
      color: black;
    }
  }
  .create-modal-header {
    display: flex;
    // background-color: yellow;
    width: 100%;
    justify-content: center;
    span {
      font-size: 28px;
      font-weight: 600;
    }
  }
  .create-modal-p {
    display: flex;
    // background-color: yellow;
    text-align: center;
    p {
      color: grey;
      font-size: 17px;
    }
  }
  .create-board-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: orange;
    height: 100px;
    margin-top: 20px;
    label {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      // background-color: grey;
      border: 3px dashed grey;
      cursor: pointer;
      .create-plus {
        position: absolute;
        // bottom: 5px;
        margin-bottom: 70px;
        margin-left: 60px;
        font-size: 25px;
        color: #7289da;
        // border-radius: 50%;
        z-index: 100;
      }
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
      img:hover {
        opacity: 0.9;
      }
      .first-span {
        font-size: 32px;
        color: rgb(88, 88, 88);
        position: relative;
        top: 2px;
      }
      .second-span {
        position: relative;
        bottom: 5px;
        color: rgb(88, 88, 88);
      }
    }
    label:hover {
      background-color: rgb(240, 240, 240);
    }
  }
  .board-name-container {
    display: flex;
    flex-direction: column;
    // background-color: yellow;
    margin-top: 20px;
    padding: 0px 20px;
    .custom-select {
      // background-color: Red;
      display: flex;
      margin-top: 5px;
      select {
        width: 120px;
        padding: 5px;
        cursor: pointer;
        background-color: #7289da;
        color: white;
        outline: none;
        font-size: 18px;
        option {
          // background-color: red;
          cursor: pointer;
        }
      }
    }
    label {
      font-size: 20px;
      color: rgb(88, 88, 88);
    }
    input {
      outline: none;
      // border-radius: 2px;
      outline: none;
      width: 100%;
      height: 30px;
      font-size: 20px;
      margin-top: 3px;
    }
    input:focus {
      // border: 1px solid #7289da;
      // border-radius: 2px;
    }
    .create-button-container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      // background-color: green;
      height: 100px;
      width: 100%;

      button {
        height: 40px;
        width: 110px;
        margin-left: 5px;
        background-color: #7289da;
        border: 1px solid #7289da;
        color: white;
        font-weight: 600;
        border-radius: 3px;
        cursor: pointer;
        outline: none;
      }
      button:hover {
        background-color: #697ecc;
        border: 1px solid #697ecc;
      }
    }
  }
}

@media (max-width: 900px) {
  .sidebar {
    width: 7%;
  }
}
